<!--
  Generated template for the MemberDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <!--  <ion-buttons left>
               
          <button ion-button icon-only (click)="cancelEdit()" *ngIf="edit" right>
              <ion-icon name="close"></ion-icon>         
          </button> 
        </ion-buttons> -->
    <ion-title center>member</ion-title>


    <ion-buttons end>
      <button ion-button icon-only (click)="onFormSubmit()" *ngIf="edit">
          <ion-icon name="checkmark"></ion-icon>    
      </button>

      <button ion-button icon-only item-end (click)="beginEdit()" *ngIf="!edit">
        <ion-icon name="create" ></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div>
    <form [formGroup]="memberForm" (ngSubmit)="onFormSubmit()">

      <ion-list no-lines>

        <ion-item>
          <ion-label>First Name</ion-label>
          <ion-input formControlName="fname" type="text" [readonly]="!edit" [class.invalid]="!memberForm.controls.fname.valid && (memberForm.controls.fname.dirty || submitAttempt)"
            item-end></ion-input>
        </ion-item>

        <ion-item *ngIf="!memberForm.controls.fname.valid  && (memberForm.controls.fname.dirty || submitAttempt)">
          <p>Please enter a valid name.</p>
        </ion-item>

        <ion-item>
          <ion-label>Last Name</ion-label>
          <ion-input formControlName="lname" type="text" [readonly]="!edit" [class.invalid]="!memberForm.controls.lname.valid && (memberForm.controls.lname.dirty || submitAttempt)"></ion-input>
        </ion-item>

        <ion-item *ngIf="!memberForm.controls.lname.valid  && (memberForm.controls.lname.dirty || submitAttempt)">
          <p>Please enter a valid name.</p>
        </ion-item>
        <!--   <ion-item *ngIf="!edit">
          <ion-label >Gender</ion-label>
          <ion-input formControlName="gender" type="text" [readonly]="!edit" end></ion-input>
        </ion-item> -->
        <!-- 
        <ion-item-group radio-group formControlName="gender" *ngIf="edit">
          <ion-label floating>Gender</ion-label>
          <ion-item-divider>Gender</ion-item-divider>
          <ion-item>
            <ion-radio item-start value="Male" [disabled]="!edit"></ion-radio>
            <ion-label>Male</ion-label>
          </ion-item>
          <ion-item>
            <ion-radio item-start value="Female" [disabled]="!edit"></ion-radio>
            <ion-label>Female</ion-label>
          </ion-item>
        </ion-item-group> -->

        <ion-item>
          <ion-label>Gender</ion-label>
          <ion-select formControlName="gender" [disabled]="!edit">
            <option [ngValue]="null">Choose a gender</option>
            <ion-option [value]="Male">Female</ion-option>
            <ion-option [value]="Female">Male</ion-option>
          </ion-select>
        </ion-item>

        <!--  <ion-item-group radio-group formControlName="gender" *ngIf="edit">
          <ion-label floating>Gender</ion-label>
          <ion-item-divider>Gender</ion-item-divider>
          <ion-item>
            <ion-radio item-start value="Male" [disabled]="!edit"></ion-radio>
            <ion-label>Male</ion-label>
          </ion-item>
          <ion-item>
            <ion-radio item-start value="Female" [disabled]="!edit"></ion-radio>
            <ion-label>Female</ion-label>
          </ion-item>
        </ion-item-group> -->


        <ion-item>
          <ion-label>Group</ion-label>
          <ion-select formControlName="group" multiple="false" [disabled]="!edit">
            <option [ngValue]="null">Choose a group</option>
            <ion-option *ngFor="let group of groups" [value]="group.id">
              {{ group.name }}
            </ion-option>

          </ion-select>
        </ion-item>

      </ion-list>


    </form>
 <!--    <ion-item>
      <p>Form value: {{ memberForm.value | json }}</p>
    </ion-item> -->


   

  </div>
</ion-content>
<!-- <ion-footer *ngIf="edit">
  <ion-toolbar >
    <ion-buttons left>      
      <button ion-button (click)="cancelEdit()" *ngIf="edit" right>
        Cancel
      </button> 
    </ion-buttons>
    
      <ion-buttons right>
        <button ion-button icon-only>
          <ion-icon name="notifications"></ion-icon>
        </button>
        <button ion-button (click)="onFormSubmit()" *ngIf="edit" left>
          Save
        </button>
      </ion-buttons>
   
  </ion-toolbar>
</ion-footer> -->
