<!--
  Generated template for the MeetingAttendancePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Meeting Attendance</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="openModal()">
        <ion-icon name="options"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let a of attendance">
      <ion-row>
        <ion-col text-center> {{a.weekstarting|date}} </ion-col>
        <ion-col>
          <button (click)="editMidweek(a)" ion-button outline round small>Mid Week: {{a.midweek}}</button>
        </ion-col>
        <ion-col>
          <button (click)="editWeekend(a)" ion-button outline round small>weekend : {{a.weekend}}</button>

        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item-sliding *ngFor="let p of periods">
      <ion-item (click)="editMonthAttendance(p)">     
        {{p.id | date: 'MMM yyyy'}}
      </ion-item>
    </ion-item-sliding>
  </ion-list>

</ion-content>